.page {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.page h1 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 10px;
}

.page p.subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 50px;
}